<html>
{% load staticfiles %}
<head>
    <title>Move the Brain</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static "buex/css/login.css" %}" rel="stylesheet">
</head>
<body>

<div class="body"></div>
    <div class="body-container">
        <div class="auth-page-container">
            <div class="main-form front login-form">
                <div class="main-form-inner">
                    <img src="{% static "buex/img/logo/logo.png" %}" width="300">
                    <div class="engine-name">
                    </div>
                    <form action="login" method="post" class="adm-form login-form">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="registration">
                        <p class="alert-str" style="margin-bottom:10px; color:hotpink">{{ alert_str }}</p>
                        <div class="adm-login-row">
                            <input class="login-input" type="text" placeholder="Username" id="username" name="username" autocomplete="off" value="{{ username }}" required>
                        </div>

                        <div class="adm-login-row">
                            <input class="login-input" type="password" placeholder="Password" id="password" name="password" value="{{ password }}" required>
                        </div>

                        <div class="adm-login-row adm-clearfix adm-margin">
                            <button class="adm-button-reverse adm-float-left toggler adm-button-small" type="button" onclick="javascript:window.location.href='/forgot_password'">Forgot password?</button>
                            <button class="adm-button-action adm-float-right" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
