/* ---------- font ---------- */
.font-001 {
    font-size: 38px;
}

.font-002 {
    font-size: 34px;
}

.font-003 {
    font-size: 30px;
}

.font-004 {
    font-size: 26px;
}

.font-005 {
    font-size: 22px;
}

.font-006 {
    font-size: 19px;
}

.font-007 {
    font-size: 16px;
}

.font-008 {
    font-size: 14px;
}

.font-009 {
    font-size: 11px;
}

.font-00A {
    font-size: 9px;
}