/* ---------- font ---------- */
.font-001 {
    font-size: 40px;
}

.font-002 {
    font-size: 36px;
}

.font-003 {
    font-size: 32px;
}

.font-004 {
    font-size: 28px;
}

.font-005 {
    font-size: 24px;
}

.font-006 {
    font-size: 20px;
}

.font-007 {
    font-size: 17px;
}

.font-008 {
    font-size: 15px;
}

.font-009 {
    font-size: 12px;
}

.font-00A {
    font-size: 10px;
}