/* ---------- font ---------- */
.font-001 {
    font-size: 32px;
}

.font-002 {
    font-size: 28px;
}

.font-003 {
    font-size: 26px;
}

.font-004 {
    font-size: 23px;
}

.font-005 {
    font-size: 19px;
}

.font-006 {
    font-size: 16px;
}

.font-007 {
    font-size: 13px;
}

.font-008 {
    font-size: 11px;
}

.font-009 {
    font-size: 9px;
}

.font-00A {
    font-size: 8px;
}