{% extends 'user/base.html' %}

{% block page_content %}
    {% load i18n %}
    {% load staticfiles %}

    <div id="location_management" class="card table_container">
        {% include "user/location_registration_modal.html" %}

        <div class="col-sm-12 col-md-12 col-lg-12">
            <button id="add_location" class="btn btn-primary mb-1 add-table-elem-btn" v-on:click="on_add_location" data-toggle="modal" data-target="#location_registration_modal"><i class="ft-plus"></i>Add a location</button>
            <table class="table table-bordered table-sm dataTable" id="table" role="grid">
                <thead>
                    {% for data in header_data %}
                        <th>{{ data.name }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for data in locations_list %}
                        <tr id="row_{{ data.id }}">
                            <td role="id">{{ data.id }}</td>
                            <td role="name">{{ data.name }}</td>
                            <td role="desp">{{ data.description }}</td>
                            <td>
                                <a v-on:click="on_edit_location({{ data.id }})" class="success p-0"  data-toggle="modal" data-target="#location_registration_modal" data-original-title="" title=""><i class="fa fa-pencil font-medium-3 mr-2 i-c-color"></i></a></a>
                                <a v-on:click="on_del_location({{ data.id }})" class="success p-0" data-original-title="" title=""><i class="fa fa-trash-o font-medium-3 mr-2 i-c-color"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        var location_table;
        var location_vue;

        $(document).ready(function(){
            location_vue = new Vue({
                delimiters: ['[[', ']]'],
                el: "#location_management",
                data: {
                    type: 0,
                    row_id: 0,
                    reg_location_name: "",
                    reg_location_desp: "",
                },
                methods: {
                    on_add_location: function () {
                        $('.modal').appendTo("body");
                        this.type = 1;
                        this.reg_location_name = "";
                        this.reg_location_desp = "";
                    },
                    on_add_location_confirm: function () {
                        if(this.reg_location_name === "" || this.reg_location_desp === ""){
                            show_warning_toastr("", "{% trans "Please enter all information." %}");
                            return;
                        }
                        if (this.type === 1){
                            let param = {
                                reg_location_name: this.reg_location_name,
                                reg_location_desp: this.reg_location_desp,
                            };
                            $.ajax({
                                url: "/buex/location/add",
                                type: "POST",
                                data: param,
                                success: function (res) {
                                    if (res === "name_exists"){
                                        show_error_toastr("", "Name already exists.");
                                        return;
                                    }
                                    ajax_common_result_handler(res);
                                    reload_page();
                                }
                            });
                        }
                        if (this.type === 2){
                            let param = {
                                reg_location_name: this.reg_location_name,
                                reg_location_desp: this.reg_location_desp,
                                row_id: parseInt(this.row_id),
                                not_updating_name: ($("#row_" + this.row_id + " td[role='name']").text() === this.reg_location_name) ? 0 : 1
                            };
                            $.ajax({
                                url: "/buex/location/update",
                                type: "POST",
                                data: param,
                                success: function (res) {
                                    if (res === "name_exists"){
                                        show_error_toastr("", "Name already exists.");
                                        return;
                                    }
                                    ajax_common_result_handler(res);
                                    reload_page();
                                }
                            });
                        }
                    },
                    on_edit_location: function(id) {
                        $('.modal').appendTo("body");
                        this.row_id = id;
                        this.type = 2;
                        this.reg_location_name = $("#row_" + id + " td[role='name']").text();
                        this.reg_location_desp = $("#row_" + id + " td[role='desp']").text();
                    },
                    on_del_location: function (id) {
                        let param = {
                            row_id: id,
                        };
                        $.ajax({
                            url: "/buex/location/del",
                            type: "POST",
                            data: param,
                            success: function (res) {
                                ajax_common_result_handler(res);
                                reload_page();
                            }
                        });
                    }
                }
            });

            location_table = $('#table').DataTable({
                dom: '<"top"R<"clear">>rt<"bottom"lip<"clear">>',
                pagingType: "full_numbers",
                lengthMenu: [[10, 20, 50, ], [10, 20, 50,]],
            });

        });
    </script>

{% endblock %}

