<div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;float:right;" for="ga_name">Equipment: </label>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;" for="ga_name">{{ monthly_equppment_cost }} KWD</label>
        </div>
</div>
<div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;float:right;" for="ga_name">Guard: </label>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;" for="ga_name">{{ monthly_guard_cost }} KWD</label>
        </div>
</div>
<div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;float:right;" for="ga_name">Total: </label>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="label-control" style="padding-top: 5px;" for="ga_name">{{ t_monthly }} KWD</label>
        </div>
</div>